<h1>Test Listing</h1>



<table>
  <tr>
	<th>HQ CO</th>
	<th>Burea</th>
	<th>Operating Unit</th>
    <th>Contry(COUNTRY_OPERATING_UNIT)</th>
	<th>Award ID</th>
    <th>Award(AWARD_TITLE)</th>
    <th>AWard Description</th>
    <th>Start Date</th>
    <th>End date</th>
    <th>Fiscal Year</th>
	<th>Budget</th>
	<th>Expenditure</th>
  </tr>

<% @project.each do |project| %>
  <tr>
	<td><%= project.HQ_CO %></td>  
  	<td><%= project.BUREAU %></td>
	<td><%= project.OPERATINGUNIT %></td>
    <td><%= project.COUNTRY_OPERATING_UNIT %></td>
	<td><%= project.AWARDID %></td>
    <td><%= project.AWARD_TITLE %></td>
	<td><%= project.AWARD_DESCRIPTION %></td>
	<td><%= project.START_DATE %></td>
	<td><%= project.END_DATE %></td>
	<td><%= project.FISCAL_YEAR %></td>	
	<td><%= project.BUDGET %></td>	
	<td><%= project.EXPENDITURE %></td>
	
  </tr>
 
<% end %>
</table>

<a class="twitter-timeline" href="https://twitter.com/UNDP" data-widget-id="400299854271758337">Tweets by @UNDP</a> 
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
