<div id="text">
<h1>Projects</h1>
</div>



<!-- just some functions we can use in the final version -->
<div>


</div>

<div>
<table>
  <tr>
    <th>Contry</th>
    <th>Award</th>
    <th>Award Description</th>
    <th>Start Date</th>
    <th>End date</th>
	<th>Budget</th>
	<th>Expenditure</th>
  </tr>

<% @project.each do |project| %>
  <tr>
    <td><%= project.COUNTRY_OPERATING_UNIT %></td>
    <td><%= project.AWARD_TITLE %></td>
	<td><%= project.AWARD_DESCRIPTION %></td>
	<td><%= project.START_DATE %></td>
	<td><%= project.END_DATE %></td>
	<td><%= project.BUDGET %></td>	
	<td><%= project.EXPENDITURE %></td>
	
  </tr>
 
<% end %>
</table>
</div>
<!--
<a class="twitter-timeline" href="https://twitter.com/UNDP" data-widget-id="400299854271758337">Tweets by @UNDP</a> 
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-->